.login-container {
    display: flex;
    height: 100vh;
    width: 100%;
    background-image: url('/public/sports.jpg');
    background-size: cover;
    background-position: center;
}

.login-left {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    background: rgba(0, 0, 0, 0.7); /* Semi-transparent background */
    padding: 50px;
}

.login-left h1 {
    font-size: 50px;
    font-weight: bold;
}

.login-left p {
    font-size: 18px;
    text-align: center;
}

.login-right {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-box {
    background: white;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 350px;
    margin: auto;
}

.login-box h2 {
    font-size: 28px;
    margin-bottom: 20px;
}

.login-box label {
    display: block;
    text-align: left;
    margin-bottom: 5px;
    font-weight: bold;
}

.login-box input {
    width: 100%;
    padding: 10px;
    margin: 8px 0 16px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    box-sizing: border-box;
}

.login-button {
    width: 100%;
    padding: 10px;
    background: black;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 15px;
    cursor: pointer;
    transition: 0.3s;
}

.login-button:hover {
    background: rgb(128, 128, 128);
}

.new-user, .forgot-password {
    
    font-size: 14px;
    color: rgb(128, 128, 128);
    cursor: pointer;
}

.new-user span, .forgot-password span {
    color: black;
    font-weight:normal;
}
.forgot-text:hover {
    text-decoration: underline;
  }
.click-text:hover {
    text-decoration: underline;
}
.forgot-password{
    text-align: right;
    margin-top: 0px;
}
.SSO-button:hover{
    background-color: #3367d6;
}

.SSO-button {
    padding: 10px;
    width: 100%;
    border-radius: 5px;
    background-color: #4285f4;
    color: white;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    gap: 10px;
    transition: background-color 0.3s ease;
  }